# Exploratory Data Analysis of the instacart datasets

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.special import factorial

In [2]:
def gaussian(x, mu, sig):
    return np.exp(-np.power(x - mu, 2.) / (2 * np.power(sig, 2.)))

def poisson(x,lamb):
    return np.power(lamb,x)/factorial(x) * np.exp(-lamb)

## Orders dataset

In [3]:
df_orders = pd.read_csv('data/orders.csv',index_col=['order_id',])
print(df_orders.info())
df_orders.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 2539329 to 272231
Data columns (total 6 columns):
user_id                   int64
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 182.7+ MB
None

,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,
2539329,1,prior,1,2,8,NaN
2398795,1,prior,2,3,7,15.0
473747,1,prior,3,3,12,21.0
2254736,1,prior,4,4,7,29.0
431534,1,prior,5,4,15,28.0

In [4]:
## split of the dataset
df_orders_train = df_orders.loc[df_orders.eval_set=='train'].sort_index()
df_orders_test = df_orders.loc[df_orders.eval_set=='test'].sort_index()
df_orders_prior = df_orders.loc[df_orders.eval_set=='prior'].sort_index()

nb_orders_train = df_orders_train.shape[0]
nb_orders_test = df_orders_test.shape[0]
nb_orders_prior = df_orders_prior.shape[0]

print('Numbers of orders per datasets : train {}, test {}, prior {}'.format(nb_orders_train,nb_orders_test,nb_orders_prior))

Numbers of orders per datasets : train 131209, test 75000, prior 3214874

## Order products prior dataset

In [5]:
df_order_prior = pd.read_csv('data/order_products__prior.csv')
print(df_order_prior.info())
df_order_prior.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtypes: int64(4)
memory usage: 989.8 MB
None

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
ordered_product_freq = df_order_prior['product_id'].value_counts()
print ('number of different product : {}'.format(ordered_product_freq.shape[0]))

#Probability of each product to be ordered per order
ordered_product_proba = ordered_product_freq / nb_orders_prior
print(ordered_product_proba.head())
type(ordered_product_proba)

number of different product : 49677
24852    0.146993
13176    0.118030
21137    0.082331
21903    0.075251
47209    0.066436
Name: product_id, dtype: float64

pandas.core.series.Series