In [1]:
import numpy as np
import pandas as pd

import os
import cPickle as pickle

In [2]:
print ('Reading the orders dataset...')
df_orders = pd.read_csv('data/orders.csv')
print('Reading the train products dataset...')
df_products_train = pd.read_csv('data/order_products__train.csv')
print('Reading the prior products dataset...')
df_products_prior = pd.read_csv('data/order_products__prior.csv')

Reading the orders dataset...
Reading the train products dataset...
Reading the prior products dataset...

In [3]:
 def save_products(filename_train, filename_test,force=False):
    path_train = 'data/' + filename_train
    path_test = 'data/' + filename_test
    if(os.path.exists(path_train) and os.path.exists(path_test)  and not force) :
        
        print('Files {} and {} already exist.'.format(path_train,path_test))
        
    else:
        print('Reading the prior products dataset...')
        df_products_prior = pd.read_csv('data/order_products__prior.csv')
    
        users_train = df_orders.loc[df_orders['eval_set']=='train','user_id']
        df_orders_prior_train = df_orders.loc[df_orders['user_id'].isin(users_train)]
        df_orders_prior_train = df_orders_prior_train.loc[df_orders_prior_train['eval_set']=='prior']

        users_test  = df_orders.loc[df_orders['eval_set']=='test','user_id']
        df_orders_prior_test = df_orders.loc[df_orders['user_id'].isin(users_test)]
        df_orders_prior_test = df_orders_prior_test.loc[df_orders_prior_test['eval_set']=='prior']

        df_products_prior_train = df_products_prior.loc[df_products_prior['order_id'].isin(df_orders_prior_train['order_id'])]
        df_products_prior_test = df_products_prior.loc[df_products_prior['order_id'].isin(df_orders_prior_test['order_id'])]

        with open(path_train,'wb') as f:
            pickle.dump(df_products_prior_train,f, pickle.HIGHEST_PROTOCOL)
        with open(path_test,'wb') as f:
            pickle.dump(df_products_prior_test,f, pickle.HIGHEST_PROTOCOL)    

        del df_products_prior

save_products('order_products__prior_train.pickle',
              'order_products__prior_test.pickle')

Files data/order_products__prior_train.pickle and data/order_products__prior_test.pickle already exist.

In [13]:
with open('data/order_products__prior_train.pickle','rb') as f:
            df_products_prior_train = pickle.load(f)
df_products_prior_train.head(40)

    order_id  product_id  add_to_cart_order  reordered
0          2       33120                  1          1
1          2       28985                  2          1
2          2        9327                  3          0
3          2       45918                  4          1
4          2       30035                  5          0
5          2       17794                  6          1
6          2       40141                  7          1
7          2        1819                  8          1
8          2       43668                  9          0
9          3       33754                  1          1
10         3       24838                  2          1
11         3       17704                  3          1
12         3       21903                  4          1
13         3       17668                  5          1
14         3       46667                  6          1
15         3       17461                  7          1
16         3       32665                  8          1
17         4       46842                  1          0
18         4       26434                  2          1
19         4       39758                  3          1
20         4       27761                  4          1
21         4       10054                  5          1
22         4       21351                  6          1
23         4       22598                  7          1
24         4       34862                  8          1
25         4       40285                  9          1
26         4       17616                 10          1
27         4       25146                 11          1
28         4       32645                 12          1
29         4       41276                 13          1
30         5       13176                  1          1
31         5       15005                  2          1
32         5       47329                  3          1
33         5       27966                  4          1
34         5       23909                  5          1
35         5       48370                  6          1
36         5       13245                  7          1
37         5        9633                  8          1
38         5       27360                  9          1
39         5        6348                 10          1

In [19]:
number_prod_per_order = df_products_prior_train.groupby('order_id')['product_id'].count()
number_prod_per_order.rename('number_prod_per_order',inplace=True)
number_prod_per_order[2398795]

6

In [12]:
df_orders_prior = df_orders.loc[df_orders['eval_set']=='prior']
.join(number_prod_per_order,how='right')
df_orders_prior.head(40)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,number_prod_per_order
order_id,,,,,,,,
2,473747,1,prior,3,3,12,21.0,9
3,2254736,1,prior,4,4,7,29.0,8
4,431534,1,prior,5,4,15,28.0,13
5,3367565,1,prior,6,2,7,19.0,26
6,550135,1,prior,7,1,9,20.0,3
7,3108588,1,prior,8,1,14,14.0,2
8,2295261,1,prior,9,1,16,0.0,1
9,2550362,1,prior,10,4,8,30.0,15
10,1187899,1,train,11,4,8,14.0,15
11,2168274,2,prior,1,2,11,NaN,5
12,1501582,2,prior,2,5,10,10.0,15
14,738281,2,prior,4,2,10,8.0,11
19,1718559,2,prior,9,2,9,8.0,3
20,1447487,2,prior,10,1,11,6.0,8
21,1402090,2,prior,11,1,10,30.0,5
22,3186735,2,prior,12,1,9,28.0,14
23,3268552,2,prior,13,4,11,30.0,14
25,1492625,2,train,15,1,11,30.0,14
26,1374495,3,prior,1,1,14,NaN,8
27,444309,3,prior,2,3,19,9.0,27
28,3002854,3,prior,3,3,16,21.0,16
30,2710558,3,prior,5,0,17,12.0,3
31,1972919,3,prior,6,0,16,7.0,10
32,1839752,3,prior,7,0,15,7.0,9
33,3225766,3,prior,8,0,17,7.0,9
37,1402502,3,prior,12,1,15,15.0,3
40,2030307,4,prior,2,4,11,19.0,4
43,2557754,4,prior,5,5,13,0.0,7
44,329954,4,test,6,3,12,30.0,10
45,2717275,5,prior,1,3,12,NaN,1
47,2267326,5,prior,3,3,18,10.0,5
48,157374,5,prior,4,1,18,19.0,8
50,2086598,6,prior,1,5,18,NaN,7
56,121053,7,prior,3,0,18,30.0,10
57,1695742,7,prior,4,2,10,9.0,7
58,3321109,7,prior,5,5,18,3.0,6
65,3239072,7,prior,12,0,14,7.0,3
66,1175028,7,prior,13,5,15,5.0,6
68,3120740,7,prior,15,3,16,2.0,9
69,2425840,7,prior,16,0,13,11.0,11

In [32]:
df_products_prior.loc[df_products_prior['order_id']==2539329]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

In [27]:
df_number_of_product = df_products_prior.groupby('order_id')['product_id'].count()
df_number_of_product.rename('Number_of_product_per_order',inplace=True)
df_number_of_product = pd.DataFrame(df_number_of_product)

In [28]:
df_number_of_product = df_number_of_product.join(df_orders.set_index('order_id')['user_id'])
df_number_of_product.head()

          Number_of_product_per_order  user_id
order_id
2                                   9   202279
3                                   8   205970
4                                  13   178520
5                                  26   156122
6                                   3    22352

In [29]:
df_number_of_product=df_number_of_product.groupby('user_id')['Number_of_product_per_order'].agg([np.mean,np.std])
df_number_of_product.to_csv('data/number_of_products_per_user.csv')